.owl-prev {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block !important;
}

.owl-next {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block !important;

}